*.vo
*.vos
*.vok
*.glob
*.aux
*.cache
*.backup
*.log
*/__pycache__
*/*/__pycache__
*.pyc
dockerfile/*/proof-data*
dockerfile/*/proof-search*
dockerfile/rango/rango-model
dockerfile/rango/coqstoq-test
temp/
out/
out*/
.frama-c/
.vscode/
.cursor/
.DS_Store
results/
*Makefile.*
*autorocq-log.txt
*autorocq.log
proof-search/data/
proof-search/data-*/
proof-search/examples/autorocq-*/
proof-search/examples/_CoqProject
proof-search/examples/*.backup
proof-search/examples/*.json
proof-search/examples/*.png
proof-search/examples/coqpyt_aux_*
proof-search/configs/local.json

